body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

header img {
    width: 400px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

header nav a {
    font-weight: bold;
}

.btn {
    background-color: #24a0ed;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #888;
}

#nav-btn {
    color: white;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
    text-align: center;
    font-size: 225%;
    margin-bottom: 100px;
}

.hero h1 {
    width: fit-content;
}

.hero img {
    width: 200px;
}

#services {
    margin: auto;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 45px;
}

.card-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    background-color: rgb(233, 233, 233);
    overflow: hidden
}

.services-card {
    border: none;
    word-wrap: normal;
}

.motto {
    margin: 75px 5%;
}

.motto img {
    width: 100%;
    height: 300px;
}

.services-header {
    margin: auto;
    width: 90%;
    border-bottom: 3px solid rgb(233, 233, 233);
}

.services-header h1 {
    font-size: 250%;
    margin-bottom: 15px;
}

.services-motto {
    width: 90%;
    margin: 20px auto;
    font-size: 110%;
}

.service-container {
    display: flex;
    justify-content: space-between;
}

.our-service-cards {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.service-card {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px grey;
}

.service-card img {
    margin-left: 10px;
    padding: 10px 0;
    width: 150px;
    border-radius: 15px;
}

.card-content h2 {
    margin: 10px 0 15px 15px;
}

.card-content p {
    margin: 15px;
}

.offer {
    flex: 1;
    height: fit-content;
    margin-left: 20px;
    margin-right: 5%;
    padding: 0 10px;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    box-shadow: 1px 1px 5px grey;
}

.contact-button {
    padding: 20px 0 20px 0;
    text-align: center;
}

.divider {
    width: 90%;
    margin: auto;
    border-bottom: 3px solid rgb(233, 233, 233);
    margin-bottom: 20px;
}

#about-us {
    margin-top: 100px;
}

#about-us h1 {
    font-size: 250%;
}

.about-us-section {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    font-size: 125%;
}

.about-us-section img {
    height: 240px;
    margin-bottom: 20px;
}

.about-us-content {
    margin-left: 20px;
    height: fit-content;
}

#footer {
    text-align: center;
    margin-bottom: 40px;
}

#footer a {
    padding: 15px;
}

.modal-contact-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px colid #888;
    width: 40%;
}

.modal-content h1 {
    margin-bottom: 20px;
}

.short {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.short label {
    width: 40px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submit-btn {
    background-color: #24a0ed;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px #888;
}

@media screen and (max-width: 1450px) {
    .card-container {
        gap: 25px;
    }
    .services-card h2 {
        font-size: 28px;
    }
    .card-border {
        height: 175px;
        width: 175px;
    }
}

@media screen and (max-width: 1200px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    #services {
        margin: 0 10%;
    }
}


@media screen and (max-width: 950px) {
    .service-container {
        flex-direction: column;
    }
    .our-service-cards{
        margin-right: 5%;
    }
    .offer {
        margin: 0 5% 20px 5%;
    }
    .offer h1 {
        text-align: center;
    }
    .contact-button {
        padding-top: 0;
    }
    #about-us {
        margin-top: 50px;
    }
    #services {
        margin: 0 5%;
    }
    .about-us-content {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    #nav-btn {
        font-weight: bold;
    }
    .about-us-section {
        align-items: center;
    }
    .service-container h1 {
        font-size: 32px;
    }
    .service-container h2 {
        font-size: 28px;
    }
    .hero {
        margin: 50px 0;
    }
    .hero h1 {
        font-size: 28px;
    }
    #services h2 {
        font-size: 28px;
    }
    .card-container{
        display: flex;
        flex-wrap: wrap;
    }
    .card-border {
        height: 200px;
        width: 200px;
    }
    #nav-btn {
        color: white;
        background-color: rgb(0, 191, 0);
        box-shadow: none;
        padding: 10px 0;
    }
    header {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    header nav {
        background-color: rgb(0, 191, 0);
        justify-content: center;
        gap: 35px;
        width: 100%;
    }
    header nav a {
        color: white;
        padding: 5px 0;
    }
    .motto {
        margin: 50px 5%;
    }
    .motto img {
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
    .hero h1 {
        font-size: 20px;
    }
    .hero img {
        width: 150px;
    }
    #services h2 {
        font-size: 20px;
    }
    .card-container {
        gap: 20px;
    }
    .card-border {
        width: 150px;
        height: 150px;
    }
    .motto img {
        height: 200px;
    }
    .services-header h1 {
        font-size: 28px;
    }
    .services-motto p {
        font-size: 16px;
    }
    .service-container h2 {
        font-size: 24px;
    }
    .offer h1 {
        font-size: 24px;
        padding-top: 10px;
    }
    .about-us-section {
        flex-direction: column;
    }
    #about-us h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 450px) {
    .hero img {
        display: none;
    }
    .hero h1 {
        width: 100%;
        font-size: 30px;
    }
    header nav a {
        font-size: 12px;
    }
    #nav-btn {
        font-size: 12px;
    }
    .motto {
        margin: 30px 5%;
    }
    .motto img {
        height: 150px;
    }
    #our-services img {
        display: none;
    }
    .service-container h2 {
        text-align: center;
    }
    .card-content {
        width: 100%;
    }
    #about-us {
        margin-top: 30px;
    }
}

@media screen and (max-width: 375px) {
    .hero h1 {
        font-size: 24px;
    }
    .motto img {
        height: 100px;
    }
    .card-border {
        height: 100px;
        width: 100px;
    }
    #services h2 {
        font-size: 14px;
    }
    #our-services p {
        font-size: 14px;
    }
    .about-us-content {
        font-size: 12px;
    }
}
