body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

header img {
    width: 300px;
}

header nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    display: inline;
    width: fit-content;
    list-style: none;
    padding: 0 25px;
    float: right;
}

.btn {
    background-color: #24a0ed;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 50px;
    font-size: 225%;
}

.hero img {
    width: 75%;
    margin-bottom: 50px;
}

#services {
    margin: 0 160px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.card-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 150px;
    border: 2px solid black;
    overflow: hidden
}

.card {
    border: none;
    word-wrap: normal;
}

.motto {
    margin: 75px 5%;
}

.motto img {
    width: 100%;
    height: 300px;
}

.services-header {
    margin: auto;
    width: 90%;
    border-bottom: 3px solid rgb(233, 233, 233);
}

.services-header h1 {
    font-size: 250%;
    margin-bottom: 15px;
}

.services-motto {
    width: 90%;
    margin: 20px auto;
    font-size: 110%;
}

.service-container {
    display: flex;
    justify-content: space-between;
}

.our-service-cards {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.service-card {
    display: flex;
    align-items: center;
    height: 165px;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    margin-bottom: 20px;
}

.service-card img {
    margin-left: 10px;
    width: 150px;
    border-radius: 15px;
}

.card-content h2 {
    margin: 10px 0 15px 15px;
}

.card-content p {
    margin: 15px;
}

.offer {
    flex: 1;
    height: 245px;
    margin-left: 20px;
    margin-right: 5%;
    padding: 0 10px;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
}

.contact-button {
    margin-top: 30px;
    text-align: center;
}

.divider {
    width: 90%;
    margin: auto;
    border-bottom: 3px solid rgb(233, 233, 233);
    margin-bottom: 20px;
}

#about-us {
    margin-top: 100px;
}

#about-us h1 {
    font-size: 250%;
}

.about-us-section {
    width: 90%;
    height: 240px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    font-size: 125%;
}

.about-us-section img {
    margin-bottom: 20px;
}

.about-us-content {
    margin-left: 20px;
    height: fit-content;
}

#footer {
    text-align: center;
    margin-bottom: 40px;
}

#footer a {
    padding: 15px;
}

.modal-contact-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px colid #888;
    width: 80%;
}

.modal-content h1 {
    margin-bottom: 20px;
}

.short {
    width: 30%;
    display: flex;
    justify-content: space-between;
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
